  /* --- COLOR --- */
  $black: #0F0F0F;
  $black-light: #191919;
  $grey: #918A89;
  $white: #FFF;
  $primary-color: #FD0336;
  $secondary-color: orange;

  /* --- FONT WEIGHT --- */
  $f-thin: 200;
  $f-light: 300;
  $f-regular: 400;
  $f-medium: 500;
  $f-bold: 600;
  $f-black: 700;